.story-page {
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/background-navigation-story-2.jpg");
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    overflow: hidden;
}

.story-page > .agent-icon {
    left: 5%;
    top: 5%;
    position: absolute;
}