.story1-page {
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/background.png");
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    overflow: hidden;
}
