.music-player {
    width: 300px;
    height: 240px;
    background: linear-gradient(122deg, rgba(82, 95, 140, 0.60) 3.97%, rgba(67, 77, 115, 0.60) 60.34%);
    backdrop-filter: blur(7px);
    position: fixed;
    left: 30px;
    bottom: 90px;
    border-radius: 8px;
    padding-top: 23px;
    padding-left: 16px;
    text-align: center;
    padding-right: 16px;
}
.music-info {
    display: flex;
    align-items: center;
}

.music-name {
    color: white;
    margin-left: 20px;
}

.name {
    font-size: 20px;
    font-weight: 750;
    line-height: 36px;
}

.btn-group {
    width: 200px;
    margin-top: 30px;
}
